@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?73b8ux');
  src:  url('fonts/icomoon.eot?73b8ux#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?73b8ux') format('truetype'),
    url('fonts/icomoon.woff?73b8ux') format('woff'),
    url('fonts/icomoon.svg?73b8ux#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coin-yen:before {
  content: "\e93e";
}
.icon-location:before {
  content: "\e947";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
