
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
// color
$pink: #ff7bac;
$bk: #000000;
$or01: #fabe78;
$or02: #f39800;
$white: #FFFFFF;




//transition
$base-transition: all .3s ease;

//フォント指定
$font_noto: "Noto Sans Japanese", sans-serif;
$font_yugo: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;


$icon_youtube: "\ea9d"; //YouTube
$icon_facebook: "\ea91"; //facebook
$icon_instagram: "\ea92"; //instagram
$icon_twitter: "\ea96"; //twitter
$icon_yen: "\e93e"; //yen
$icon_map: "\e947"; //map
$icon_res: "\e9b8"; //map

